.parent,
html,
body {
  height: 100%;
  margin: 0;
}

.parent {
  display: flex;
  flex-direction: column;
}

.side1 {
  background-color: red;
  flex: 1
}
.side2 {
    background-color: blue;
    flex: 1
  }
